<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.invigilator.mapper.TimeRecordMapper">

    <insert id="addTime" parameterType="List">
        INSERT INTO `time_record`
        (`did`, `start_time`, `end_time`, `total`, `valid`, `create_time`, `create_name`, `update_time`, `update_name`)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.did}, DATE_FORMAT(#{item.startTime},"%Y-%m-%d %H:%i:%s"), DATE_FORMAT(#{item.endTime},"%Y-%m-%d
            %H:%i:%s"),#{item.total} ,1, NOW(), #{item.createName}, NOW(),#{item.updateName})
        </foreach>
    </insert>

    <select id="all" parameterType="com.example.invigilator.dto.DateDto" resultType="com.example.invigilator.dto.enlistDto">
        SELECT t.`id`,t.`did`,t.`start_time` AS 'startTime',t.`end_time` AS 'endTime',t.`total`,
        d.`date`,a.`joinTotal` FROM `time_record` t
        LEFT JOIN `date_record` d ON t.`did` = d.`id`
        LEFT JOIN (SELECT u.`tid`,COUNT(uid) AS 'joinTotal' FROM `user_time` u
        GROUP BY u.`tid`) a ON a.`tid` = t.`id`
        WHERE 1 = 1 AND t.`valid` = 1 AND d.`valid` = 1
        <if test="startDate != null">
            AND DATE_FORMAT(#{startDate},'%Y-%m-%d') <![CDATA[<=]]> DATE_FORMAT(d.`date`,'%Y-%m-%d')
        </if>
        <if test="endDate != null">
            AND DATE_FORMAT(#{endDate},'%Y-%m-%d') <![CDATA[>=]]> DATE_FORMAT(d.`date`,'%Y-%m-%d')
        </if>
        ORDER BY d.`date` DESC,t.`start_time`
    </select>

    <delete id="del" parameterType="Integer">
        DELETE FROM `time_record` WHERE `id` = #{id}
    </delete>



</mapper>
